- page_title @snippet.title, "Snippets"
= render "header_title"

.snippet-holder
  = render 'shared/snippets/header'

  %article.file-holder.file-holder-no-border.snippet-file-content
    .file-title.file-title-clear
      = blob_icon 0, @snippet.file_name
      = @snippet.file_name
      .file-actions.hidden-xs
        = clipboard_button(clipboard_target: ".blob-content[data-blob-id='#{@snippet.id}']")
        = link_to 'Raw', raw_namespace_project_snippet_path(@project.namespace, @project, @snippet), class: "btn btn-sm", target: "_blank"
    = render 'shared/snippets/blob'

  %div#notes= render "projects/notes/notes_with_form"
